# Local .terraform directories
**/.terraform/*
.terraform/
# .tfstate files
*.tfstate
*.tfstate.*
#modulos terraform
main/.terraform/
#kubectl
main/kube_*
#tf locks
.terraform.lock.hcl
.terraform*
.terraform/*
./terraform*
